.page-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  @media (--phone) or (--tablet-small) or (--tablet-large) {
    margin-bottom: 1rem;
  }
  @media (--laptop) or (--desktop) {
    margin-bottom: 2rem;
  }

  h6 {
    margin: 0;
  }
  .page-filters__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
