.page-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--margin);

  h6 {
    margin: 0;
  }
  .page-filters__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
