.button {
  @extend .typo-button;
  text-decoration: none;
  appearance: none;
  border: none;
  border-radius: var(--shape-medium);
  min-width: 4rem;
  height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;
  position: relative;

  --button-base-color: var(--page-foreground);
  background-color: var(--button-background);
  color: var(--button-foreground);

  transition: background-color 250ms, color 250ms, opacity 250ms,
    var(--elevation-transition), var(--elevation-overlay-transition);

  &:focus-visible {
    outline: none;
  }
  &:disabled,
  &[aria-disabled="true"] {
    pointer-events: none;
  }

  .md-symbol,
  .spinner {
    --icon-size: 18;
    margin-left: -0.25rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -0.25rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: trnsparent;
  }

  &.button--primary {
    --button-base-color: var(--primary);
    --on-button-base-color: var(--on-primary);
  }
  &.button--secondary {
    --button-base-color: var(--secondary);
    --on-button-base-color: var(--on-secondary);
  }
  &.button--success {
    --button-base-color: var(--green);
    --on-button-base-color: var(--on-green);
  }
  &.button--danger,
  &.button--error {
    --button-base-color: var(--red);
    --on-button-base-color: var(--on-red);
  }

  &.button--text {
    padding: 0 0.5rem;
  }
  &.button--outlined {
    border: 1px solid var(--divider);
  }
  &.button--text,
  &.button--outlined {
    --button-background: transparent;
    --button-foreground: var(--button-base-color);
    &:hover {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--hover-opacity)
      );
    }
    &:focus-visible {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--focus-opacity)
      );
    }
    &:active,
    &:has(+ .tooltip[popover]:popover-open) {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--pressed-opacity)
      );
    }
    &:disabled,
    &[aria-disabled="true"] {
      --button-foreground: var(--page-foreground);
      opacity: var(--disabled-opacity);
    }
  }
  &.button--contained {
    --button-background: var(--button-base-color);
    --button-foreground: var(--on-button-base-color);
    &:not(:disabled, [aria-disabled="true"]) {
      background-color: light-dark(
        var(--button-background),
        color-mix(
          in hsl,
          var(--button-background),
          var(--elevation-overlay-color) var(--elevation-2-overlay-opacity)
        )
      );
      box-shadow: var(--elevation-2);
      &:hover {
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--hover-on-filled-opacity)
        );
      }
      &:focus-visible {
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--focus-on-filled-opacity)
        );
      }
      &:active,
      &:has(+ .tooltip[popover]:popover-open) {
        box-shadow: var(--elevation-8);
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--pressed-on-filled-opacity)
        );
        background-color: light-dark(
          var(--button-background),
          color-mix(
            in hsl,
            var(--button-background),
            var(--elevation-overlay-color) var(--elevation-8-overlay-opacity)
          )
        );
      }
    }
    &:disabled,
    &[aria-disabled="true"] {
      opacity: var(--disabled-opacity);
      --button-background: color(
        from var(--button-foreground) srgb r g b / var(--disabled-opacity)
      );
      --button-foreground: var(--page-foreground);
    }
  }
  &.button--toggle {
    --button-background: transparent;
    --button-foreground: color(
      from var(--button-base-color) srgb r g b / var(--secondary-text)
    );
    --button-active-color: color(
      from var(--button-base-color) srgb r g b / var(--primary-text)
    );
    &.button--active-primary {
      --button-active-color: var(--primary);
    }
    &.button--active-secondary {
      --button-active-color: var(--secondary);
    }
    &.button--active-success {
      --button-active-color: var(--green);
    }
    &.button--active-danger,
    &.button--active-error {
      --button-active-color: var(--red);
    }
    height: 3rem;
    width: 3rem;
    min-width: unset;
    padding: 0.75rem;
    border-radius: 50%;
    transition: background-color 250ms, color 250ms, opacity 250ms;
    .md-symbol {
      --icon-size: 24;
      margin: 0;
    }
    &:hover {
      background-color: color(
        from currentColor srgb r g b / var(--hover-opacity)
      );
    }
    &:focus-visible {
      background-color: color(
        from currentColor srgb r g b / var(--focus-opacity)
      );
    }
    &:active,
    &:has(+ .tooltip[popover]:popover-open) {
      background-color: color(
        from currentColor srgb r g b / var(--pressed-opacity)
      );
    }
    &:disabled,
    &[aria-disabled="true"] {
      opacity: var(--disabled-opacity);
    }
    &[data-status="active"],
    &[aria-pressed="true"] {
      --icon-fill: 1;
      --button-foreground: var(--button-active-color);
      --button-background: color(
        from var(--button-active-color) srgb r g b / var(--activated-opacity)
      );
      &:hover {
        background-color: color(
          from var(--button-active-color) srgb r g b /
            calc(var(--hover-opacity) + var(--activated-opacity))
        );
      }
      &:focus-visible {
        background-color: color(
          from var(--button-active-color) srgb r g b /
            calc(var(--focus-opacity) + var(--activated-opacity))
        );
      }
    }
  }
  &.button--floating-action {
    display: flex;
    --button-base-color: light-dark(
      var(--secondary),
      color-mix(
        in hsl,
        var(--secondary),
        var(--elevation-overlay-color) var(--elevation-6-overlay-opacity)
      )
    );
    --button-background: var(--button-base-color);
    --button-foreground: var(--on-secondary);
    border-radius: var(--shape-pill);
    box-shadow: var(--elevation-6);
    z-index: 6;
    height: 3rem;
    padding: 1.25rem;
    gap: 0.75rem;
    &:hover {
      --button-background: color-mix(
        in hsl,
        var(--button-base-color),
        var(--on-secondary) var(--hover-opacity)
      );
    }
    &:focus-visible {
      --button-background: color-mix(
        in hsl,
        var(--button-base-color),
        var(--on-secondary) var(--focus-opacity)
      );
    }
    &:active {
      box-shadow: var(--elevation-12);
      --button-base-color: light-dark(
        var(--secondary),
        color-mix(
          in hsl,
          var(--secondary),
          var(--elevation-overlay-color) var(--elevation-12-overlay-opacity)
        )
      );
      --button-background: color-mix(
        in hsl,
        var(--button-base-color),
        var(--on-secondary) var(--pressed-opacity)
      );
    }
    .md-symbol {
      --icon-size: 24;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;
  border-radius: var(--shape-medium);
  &.button-group--outlined {
    border: 1px solid var(--divider);
    .button:not(.button--toggle) {
      border: none;
      &:not(:last-of-type) {
        border-right: 1px solid var(--divider);
        &:dir(rtl) {
          border-right: none;
          border-left: 1px solid var(--divider);
        }
      }
    }
  }
  &:has(.button--toggle) {
    border-radius: var(--shape-pill);
  }
  .button:not(.button--toggle) {
    border-radius: 0;
    &:first-of-type {
      border-top-left-radius: var(--shape-medium);
      border-bottom-left-radius: var(--shape-medium);
    }
    &:last-of-type {
      border-top-right-radius: var(--shape-medium);
      border-bottom-right-radius: var(--shape-medium);
    }
    &:dir(rtl) {
      &:first-of-type {
        border-top-right-radius: var(--shape-medium);
        border-bottom-right-radius: var(--shape-medium);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      &:last-of-type {
        border-top-left-radius: var(--shape-medium);
        border-bottom-left-radius: var(--shape-medium);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}
