.button {
  @extend .typo-button;
  text-decoration: none;
  appearance: none;
  border: none;
  border-radius: var(--shape-medium);
  min-width: 4rem;
  height: 2.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 1rem;

  background-color: var(--button-background);
  color: var(--button-foreground);

  transition:
    background-color 250ms,
    color 250ms,
    var(--elevation-transition),
    var(--elevation-overlay-transition);

  &:focus-visible {
    outline: none;
  }
  &:disabled,
  &[aria-disabled="true"] {
    pointer-events: none;
  }

  .md-symbol {
    --icon-size: 18;
    margin-left: -0.25rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -0.25rem;
    }
  }

  &.button--primary {
    --button-base-color: var(--primary);
    --on-button-base-color: var(--on-primary);
  }
  &.button--secondary {
    --button-base-color: var(--secondary);
    --on-button-base-color: var(--on-secondary);
  }
  &.button--success {
    --button-base-color: var(--green);
    --on-button-base-color: var(--on-green);
  }
  &.button--danger,
  &.button--error {
    --button-base-color: var(--red);
    --on-button-base-color: var(--on-red);
  }

  &.button--text {
    padding: 0 0.5rem;
  }
  &.button--outlined {
    border: 1px solid var(--divider);
  }
  &.button--text,
  &.button--outlined {
    --button-background: transparent;
    --button-foreground: var(--button-base-color);
    &:hover {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--hover-opacity)
      );
    }
    &:focus-visible {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--focus-opacity)
      );
    }
    &:active {
      --button-background: color-mix(
        in hsl,
        transparent,
        var(--button-base-color) var(--pressed-opacity)
      );
    }
    &:disabled,
    &[aria-disabled="true"] {
      --button-foreground: color(
        from var(--page-foreground) srgb r g b /
        var(--disabled-opacity)
      );
    }
  }
  &.button--contained {
    --button-background: var(--button-base-color);
    --button-foreground: var(--on-button-base-color);
    &:not(:disabled, [aria-disabled="true"]) {
      background-color: light-dark(
        var(--button-background),
        color-mix(
          in hsl,
          var(--button-background),
          var(--elevation-overlay-color) var(--elevation-2-overlay-opacity)
        )
      );
      box-shadow: var(--elevation-2);
      &:hover {
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--hover-on-filled-opacity)
        );
      }
      &:focus-visible {
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--focus-on-filled-opacity)
        );
      }
      &:active {
        box-shadow: var(--elevation-8);
        --button-background: color-mix(
          in hsl,
          var(--button-base-color),
          var(--on-button-base-color) var(--pressed-on-filled-opacity)
        );
        background-color: light-dark(
          var(--button-background),
          color-mix(
            in hsl,
            var(--button-background),
            var(--elevation-overlay-color) var(--elevation-8-overlay-opacity)
          )
        );
      }
    }
    &:disabled,
    &[aria-disabled="true"] {
      opacity: var(--disabled-opacity);
      --button-background: color(
        from var(--button-foreground) srgb r g b /
        var(--disabled-opacity)
      );
      --button-foreground: var(--page-foreground);
    }
  }
  &.button--toggle {
    --button-background: transparent;
    --button-foreground: color(
      from var(--button-base-color) srgb r g b /
      var(--secondary-text)
    );
    height: 3rem;
    width: 3rem;
    min-width: unset;
    padding: 0.75rem;
    border-radius: 50%;
    transition:
      background-color 250ms,
      color 250ms,
      opacity 250ms;
    .md-symbol {
      --icon-size: 24;
      margin: 0;
    }
    &:hover {
      background-color: color(
        from currentColor srgb r g b /
        var(--hover-opacity)
      );
    }
    &:focus-visible {
      background-color: color(
        from currentColor srgb r g b /
        var(--focus-opacity)
      );
    }
    &:active {
      background-color: color(
        from currentColor srgb r g b /
        var(--pressed-opacity)
      );
    }
    &:disabled,
    &[aria-disabled="true"] {
      opacity: var(--disabled-opacity);
    }
    &.active {
      --icon-fill: 1;
    }
  }
}
