:root {
  --chip-background: light-dark(
    var(--md-blue-grey-100),
    var(--md-blue-grey-700)
  );
  --chip-foreground: var(--page-foreground);
  --hovered-chip-background: color-mix(
    in hsl,
    var(--chip-background),
    var(--chip-foreground) var(--hover-opacity)
  );
  --focused-chip-background: color-mix(
    in hsl,
    var(--chip-background),
    var(--chip-foreground) var(--focus-opacity)
  );
  --selected-chip-background: color-mix(
    in hsl,
    var(--chip-background),
    var(--primary) var(--selected-opacity)
  );
  --hovered-selected-chip-background: color-mix(
    in hsl,
    var(--chip-background),
    var(--primary) calc(var(--hover-opacity) + var(--selected-opacity))
  );
  --focused-selected-chip-background: color-mix(
    in hsl,
    var(--chip-background),
    var(--primary) calc(var(--focus-opacity) + var(--selected-opacity))
  );
  --selected-chip-foreground: var(--primary);
}

.chip {
  text-decoration: none;
  appearance: none;
  border: none;
  background-color: var(--chip-background);
  color: from(var(--chip-foreground) srgb r g b / var(--primary-text));
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--shape-pill);
  /* biome-ignore lint/correctness/noUnknownProperty: corner-shape is supported by chromium, and degrades gracefully */
  @supports (corner-shape: bevel) {
    padding: 0.5rem 1rem;
  }
  --icon-size: 18;
  @extend .typo-body2;
  transition:
    background-color 250ms,
    color 250ms,
    font-weight 250ms;
  .md-symbol {
    color: from(var(--chip-foreground) srgb r g b / var(--secondary-text));
    margin-left: -0.25rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -0.25rem;
    }
  }
  &:hover {
    background-color: var(--hovered-chip-background);
  }
  &:focus-visible {
    outline: none;
    background-color: var(--focused-chip-background);
  }
  &[data-status="active"],
  &[aria-pressed="true"] {
    background-color: var(--selected-chip-background);
    color: var(--selected-chip-foreground);
    --icon-fill: 1;
    &:hover {
      background-color: var(--hovered-selected-chip-background);
    }
    &:focus-visible {
      background-color: var(--focused-selected-chip-background);
    }
  }
  &:disabled,
  &[aria-disabled="true"] {
    opacity: var(--disabled-text);
    pointer-events: none;
  }
  &.chip--display {
    border: 1px solid var(--divider);
    background-color: transparent;
    color: var(--page-foreground);
  }
}

.chip-collection {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
}
