.colors-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.color-box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--shape-medium);
  text-align: center;
}
