:root {
  --page-background: var(--background);
  --page-foreground: var(--foreground);
  --focus-background: light-dark(var(--light-blue, lightblue), var(--comment));

  --success: light-dark(var(--green5, green), var(--green, green));
  --on-success: light-dark(var(--black), var(--black));
  --warning: light-dark(var(--yellow5, yellow), var(--yellow, yellow));
  --on-warning: light-dark(var(--black), var(--black));
  --error: light-dark(var(--red5, red), var(--red, red));
  --on-error: light-dark(var(--black), var(--black));
  --info: light-dark(var(--blue, blue), var(--cyan, cyan));
  --on-info: light-dark(var(--black), var(--black));

  --link: light-dark(var(--blue, blue), var(--cyan, cyan));
  --link-visited: light-dark(var(--blue-secondary, blue), var(--cyan-secondary, cyan));
  --link-focus: light-dark(var(--purple, purple), var(--green, green));
  --link-current: var(--foreground);
  --link-current-background: var(--selection);

  --button: light-dark(var(--pink5, pink), var(--pink, pink));
  --on-button: light-dark(var(--white), var(--black));
  --button-selected: var(--foreground);
  --button-selected-background: var(--selection);

  --sidebar-background: light-dark(var(--white-secondary, white), var(--black));

  --code-background: light-dark(var(--white-secondary, white), var(--black));

  --divider: light-dark(var(--grey), var(--disabled, grey));

  --scroll-track: light-dark(var(--white-secondary, white), var(--black));
  --scroll-thumb: var(--purple);

  --snackbar-background: light-dark(var(--white), var(--black));

  --tooltip-background: light-dark(var(--white), var(--black));
  --tooltip-foreground: light-dark(var(--black), var(--white));

  --spinner1: light-dark(var(--pink5, pink), var(--cyan, cyan));
  --spinner2: light-dark(var(--orange5, orange), var(--green, green));
  --spinner3: light-dark(var(--yellow5, yellow), var(--orange, orange));
  --spinner4: light-dark(var(--teal5, teal), var(--purple, purple));

  --scale1: light-dark(var(--red4, red), var(--pink, pink));
  --scale2: light-dark(var(--coral4, coral), var(--red, red));
  --scale3: light-dark(var(--orange4, orange), var(--orange, orange));
  --scale4: light-dark(var(--yellow4, yellow), var(--yellow, yellow));
  --scale5: light-dark(var(--green4, green), var(--green, green));
}
