@import "normalize.css/normalize.css";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

@import "./themes/dracula.css";
@import "./themes/github-light.css";

@import "./animation.css";
@import "./colors.css";
@import "./layout.css";
@import "./states.css";
@import "./shape.css";
@import "./typography.css";

@import "../components/avatar/index.css";
@import "../components/banner/index.css";
@import "../components/button/index.css";
@import "../components/chip/index.css";
@import "../components/consolewriter/index.css";
@import "../components/dialog/index.css";
@import "../components/empty-state/index.css";
@import "../components/footer/index.css";
@import "../components/header/index.css";
@import "../components/list/index.css";
@import "../components/plot/index.css";
@import "../components/spinner/index.css";
@import "../components/table/index.css";
@import "../components/radio/index.css";
@import "../components/scaler/index.css";
@import "../components/sidebar/index.css";
@import "../components/snackbar/index.css";
@import "../components/symbol/index.css";
@import "../components/text-field/index.css";
@import "../components/tooltip/index.css";

@import "../components/page-filter/index.css";
@import "../components/scroll-to-top/index.css";

* {
  box-sizing: border-box;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  corner-shape: bevel;
}

::selection {
  text-shadow: none;
  background-color: var(--selection);
  color: var(--foreground);
}

[data-theme="system"] {
  color-scheme: light dark;
}

[data-theme="dark"] {
  color-scheme: dark;
}

[data-theme="light"] {
  color-scheme: light;
}

body {
  font-family: var(--font-family-body);
  font-feature-settings:
    "calt" 1,
    "liga" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: color(from var(--foreground) srgb r g b / var(--primary-text));
  @extend .typo-body1;
  scroll-padding-top: calc(var(--page-header-height) + var(--margin));
  &[data-modal-open] {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
  }
}

a:not(.button):not(.chip):not(.react-tweet-theme a):not(.sort-cell__label) {
  color: var(--link);
  transition:
    color 250ms,
    font-variation-settings 250ms;
  &:hover,
  &:focus-visible {
    --font-slant: -11;
  }
  &:focus-visible {
    outline: none;
    color: var(--link-focus);
  }
  &[data-status="active"]:not(.breadcrumbs *) {
    color: var(--link-current);
  }
}

hr {
  border: none;
  border-top: 1px solid var(--divider);
}

blockquote {
  margin: 1rem 0;
  padding: 1rem 0;
  padding-left: 1rem;
  border-left: 2px solid var(--divider);
  &:dir(rtl) {
    padding-left: 0;
    padding-right: 1rem;
    border-left: none;
    border-right: 2px solid var(--divider);
  }
  > p:first-child {
    margin-top: 0;
  }
  > p:last-child {
    margin-bottom: 0;
  }
}

pre,
code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: var(--font-family-code);
  font-size: var(--body2-size);
  background-color: var(--code-background);
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-background);
  }
  .code-block__title {
    padding: 0.5rem 1rem;
    margin: -1em -1em 1rem;
    border-bottom: 1px solid var(--divider);
    font: inherit;
  }
  &.line-numbers {
    padding-left: 3.8em;
    > code {
      display: block;
      padding-top: 1em;
    }
    .code-block__title {
      margin: -1em;
      margin-bottom: 0;
      margin-left: -3.8em;
      &:dir(rtl) {
        margin-left: -1em;
        margin-right: -3.8em;
      }
    }
    .line-numbers-rows {
      padding: 1em 0;
      border-right: 1px solid var(--divider);
      &:dir(rtl) {
        border-right: none;
        border-left: 1px solid var(--divider);
      }
    }
  }
}

pre[class*="language-"] {
  border-radius: var(--shape-medium);
}

:not(pre) > code[class*="language-"] {
  border-radius: var(--shape-small);
  padding: 0.25rem;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100lvh;
}

.header-container {
  max-height: 100lvh;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

:root {
  --margin: 2rem;
  @media (--phone) {
    --margin: 1rem;
  }
}

main {
  padding: var(--margin) 0;
  flex: 1;
  background-color: var(--background);
  margin: 0 var(--margin);

  display: flex;
  flex-direction: column;
  gap: var(--margin);

  @media (--tablet-large) {
    max-width: 56.5rem; /* 840px + 4rem */
    margin: 0 auto;
    padding: 2rem;
  }
  @media (--laptop) {
    margin: 0 12.5rem;
  }
  @media (--desktop) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  * {
    scroll-behavior: auto;
  }
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

a > code.language-text.language-text {
  color: inherit;
}

.language-ansi {
  --ansi-bg: var(--code-background);
  --ansi-fg: var(--foreground);
  .bold {
    font-weight: bold;
  }
  .dim {
    opacity: 0.5;
  }
  .italic {
    font-style: italic;
  }
  .underline {
    text-decoration: underline;
  }
  .hidden {
    visibility: hidden;
  }
  .strikethrough {
    text-decoration: line-through;
  }
  &,
  > *:not(.reverse) {
    background-color: var(--ansi-bg);
    color: var(--ansi-fg);
  }
  .reverse {
    background-color: var(--ansi-fg,);
    color: var(--ansi-bg);
  }
  .bg-black {
    --ansi-bg: var(--ansi-black);
  }
  .fg-black {
    --ansi-fg: var(--ansi-black);
  }
  .bg-red {
    --ansi-bg: var(--ansi-red);
  }
  .fg-red {
    --ansi-fg: var(--ansi-red);
  }
  .bg-green {
    --ansi-bg: var(--ansi-green);
  }
  .fg-green {
    --ansi-fg: var(--ansi-green);
  }
  .bg-yellow {
    --ansi-bg: var(--ansi-yellow);
  }
  .fg-yellow {
    --ansi-fg: var(--ansi-yellow);
  }
  .bg-blue {
    --ansi-bg: var(--ansi-blue);
  }
  .fg-blue {
    --ansi-fg: var(--ansi-blue);
  }
  .bg-magenta {
    --ansi-bg: var(--ansi-magenta);
  }
  .fg-magenta {
    --ansi-fg: var(--ansi-magenta);
  }
  .bg-cyan {
    --ansi-bg: var(--ansi-cyan);
  }
  .fg-cyan {
    --ansi-fg: var(--ansi-cyan);
  }
  .bg-white {
    --ansi-bg: var(--ansi-white);
  }
  .fg-white {
    --ansi-fg: var(--ansi-white);
  }
  .bg-brightBlack {
    --ansi-bg: var(--ansi-bright-black);
  }
  .fg-brightBlack {
    --ansi-fg: var(--ansi-bright-black);
  }
  .bg-brightRed {
    --ansi-bg: var(--ansi-bright-red);
  }
  .fg-brightRed {
    --ansi-fg: var(--ansi-bright-red);
  }
  .bg-brightGreen {
    --ansi-bg: var(--ansi-bright-green);
  }
  .fg-brightGreen {
    --ansi-fg: var(--ansi-bright-green);
  }
  .bg-brightYellow {
    --ansi-bg: var(--ansi-bright-yellow);
  }
  .fg-brightYellow {
    --ansi-fg: var(--ansi-bright-yellow);
  }
  .bg-brightBlue {
    --ansi-bg: var(--ansi-bright-blue);
  }
  .fg-brightBlue {
    --ansi-fg: var(--ansi-bright-blue);
  }
  .bg-brightMagenta {
    --ansi-bg: var(--ansi-bright-magenta);
  }
  .fg-brightMagenta {
    --ansi-fg: var(--ansi-bright-magenta);
  }
  .bg-brightCyan {
    --ansi-bg: var(--ansi-bright-cyan);
  }
  .fg-brightCyan {
    --ansi-fg: var(--ansi-bright-cyan);
  }
  .bg-brightWhite {
    --ansi-bg: var(--ansi-bright-white);
  }
  .fg-brightWhite {
    --ansi-fg: var(--ansi-bright-white);
  }
}
