/*
extra-small (phone): 0px-599px
small (tablet-small): 600px-904px
small (tablet-large): 905px-1239px
medium (laptop): 1240px-1439px
large (desktop): 1440px and above
*/

@custom-media --phone (max-width: 599px);
@custom-media --tablet-small (min-width: 600px) and (max-width: 904px);
@custom-media --tablet-large (min-width: 905px) and (max-width: 1239px);
@custom-media --laptop (min-width: 1240px) and (max-width: 1439px);
@custom-media --desktop (min-width: 1440px);

@custom-media --modal-sidebar (--phone) or (--tablet-small) or (--tablet-large);
