@import "#/shared/styles/layout";

@import "./-components/card/index.css";

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: var(--margin);
  list-style: none;
  padding: 0;
  margin: 0;
  .blog-cover {
    min-width: 0;
    width: 100%;
  }
}

@media (--desktop) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.react-tweet-theme {
  &.react-tweet-theme {
    --tweet-container-margin: 1.5rem auto;
    text-transform: none;
  }
  * {
    corner-shape: unset;
  }
}

a > code.language-text.language-text {
  color: inherit;
}
