@import "normalize.css/normalize.css";

@import "styles/animation.css";
@import "styles/colors.css";
@import "styles/elevation.css";
@import "styles/shape.css";
@import "styles/typography.css";

@import "components/header/index.css";
@import "components/sidebar/index.css";
@import "components/results-table/index.css";

* {
  box-sizing: border-box;
  corner-shape: bevel;
}

body {
  color-scheme: light dark;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--page-foreground);
}

code {
  font-family: var(--font-family-code);
}

.card {
  background-color: var(--card-background);
  border-radius: var(--shape-medium);
  box-shadow: var(--card-elevation);
  overflow: hidden;
  table {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid var(--divider);
}

tr {
  &:not(:last-child) {
    border-bottom: 1px solid var(--divider);
  }
}

th,
td {
  padding: 1rem;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

@view-transition {
  navigation: auto;
}
