@import "normalize.css/normalize.css";

@import "styles/colors.css";
@import "styles/typography.css";

@import "components/header/index.css";
@import "components/sidebar/index.css";

* {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--page-foreground);
}

code {
  font-family: var(--font-family-code);
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

@view-transition {
  navigation: auto;
}
