@import "normalize.css/normalize.css";

@import "styles/themes/material-light.css";
@import "styles/themes/material-oceanic.css";

@import "styles/animation.css";
@import "styles/colors.css";
@import "styles/elevation.css";
@import "styles/shape.css";
@import "styles/typography.css";

@import "components/chip/index.css";
@import "components/header/index.css";
@import "components/scaler/index.css";
@import "components/sidebar/index.css";
@import "components/symbol/index.css";

* {
  box-sizing: border-box;
  corner-shape: bevel;
}

body {
  color-scheme: light dark;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--page-foreground);
  @extend .body1;
}

pre,
code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: var(--font-family-code);
}

pre[class*="language-"] {
  border-radius: var(--shape-medium);
}

:not(pre) > code[class*="language-"] {
  border-radius: var(--shape-small);
  padding: 0.25rem;
}

.card {
  background-color: var(--card-background);
  background-color: --elevation-overlay(
    var(--card-background),
    var(--elevation-2-overlay-opacity)
  );
  border-radius: var(--shape-medium);
  box-shadow: var(--card-elevation);
  overflow: hidden;
  table {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid var(--divider);
  tr {
    min-height: 56px;
  }
}

tr {
  min-height: 52px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--divider);
  }
}

td,
th {
  padding: 1rem;
  text-align: left;
  &[data-numeric] {
    text-align: right;
    font-feature-settings: "tnum" 1;
  }
}

th {
  @extend .subtitle2;
  font-weight: var(--weight-medium);
}

td {
  @extend .body2;
  &:has(> pre[class*="language-"]) {
    padding: 0.5rem;
  }
  > pre[class*="language-"] {
    margin: 0;
    padding: 0.5rem;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  padding: 1rem;
  flex: 1;
  background-color: var(--page-background);
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
