@import "normalize.css/normalize.css";

@import "styles/themes/material-light.css";
@import "styles/themes/material-oceanic.css";

@import "styles/animation.css";
@import "styles/colors.css";
@import "styles/elevation.css";
@import "styles/layout.css";
@import "styles/states.css";
@import "styles/shape.css";
@import "styles/typography.css";

@import "components/button/index.css";
@import "components/chip/index.css";
@import "components/empty-state/index.css";
@import "components/header/index.css";
@import "components/table/index.css";
@import "components/radio/index.css";
@import "components/scaler/index.css";
@import "components/sidebar/index.css";
@import "components/snackbar/index.css";
@import "components/symbol/index.css";
@import "components/text-field/index.css";

@import "components/bench-table/index.css";
@import "components/download-table/index.css";
@import "components/page-filter/index.css";
@import "components/scroll-to-top/index.css";

* {
  box-sizing: border-box;
  corner-shape: bevel;
}

body {
  color-scheme: light dark;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: color(from var(--page-foreground) srgb r g b / var(--primary-text));
  @extend .typo-body1;
  &[data-modal-open] {
    overflow: hidden;
  }
}

a {
  color: var(--primary);
}

::selection {
  background: color(from var(--secondary) srgb r g b / 0.5);
  color: var(--on-secondary);
}

pre,
code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: var(--font-family-code);
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
  }
}

pre[class*="language-"] {
  border-radius: var(--shape-medium);
}

:not(pre) > code[class*="language-"] {
  border-radius: var(--shape-small);
  padding: 0.25rem;
}

.card {
  background-color: light-dark(
    var(--card-background),
    color-mix(
      in hsl,
      var(--card-background),
      var(--elevation-overlay-color) var(--elevation-2-overlay-opacity)
    )
  );
  border-radius: var(--shape-medium);
  box-shadow: var(--card-elevation);
  overflow: hidden;
  table {
    width: 100%;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.header-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* make sure scroll-to-top doesn't overlap content */
  padding-bottom: 5rem;
}

main {
  padding: 1rem 0;
  flex: 1;
  background-color: var(--page-background);

  @media (--phone) {
    margin: 1rem;
  }

  @media (--tablet-small) {
    margin: 2rem;
  }

  @media (--tablet-large) {
    max-width: 56.5rem; /* 840px + 4rem */
    margin: 0 auto;
    padding: 2rem;
  }

  @media (--laptop) {
    margin: 0 12.5rem;
  }
  @media (--desktop) {
    max-width: 1024px;
    margin: 0 auto;
  }
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
