@import "normalize.css/normalize.css";

@import "styles/themes/material-light.css";
@import "styles/themes/material-oceanic.css";

@import "styles/animation.css";
@import "styles/colors.css";
@import "styles/elevation.css";
@import "styles/states.css";
@import "styles/shape.css";
@import "styles/typography.css";

@import "components/button/index.css";
@import "components/chip/index.css";
@import "components/empty-state/index.css";
@import "components/header/index.css";
@import "components/table/index.css";
@import "components/radio/index.css";
@import "components/scaler/index.css";
@import "components/sidebar/index.css";
@import "components/snackbar/index.css";
@import "components/symbol/index.css";

@import "components/results-table/index.css";

* {
  box-sizing: border-box;
  corner-shape: bevel;
}

body {
  color-scheme: light dark;
  font-family: var(--font-family-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: color(from var(--page-foreground) srgb r g b / var(--primary-text));
  @extend .typo-body1;
}

a {
  color: var(--primary);
  transition: font-weight 250ms;
  &:hover {
    font-weight: var(--weight-medium);
  }
}

pre,
code,
pre[class*="language-"],
code[class*="language-"] {
  font-family: var(--font-family-code);
  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
  }
}

pre[class*="language-"] {
  border-radius: var(--shape-medium);
}

:not(pre) > code[class*="language-"] {
  border-radius: var(--shape-small);
  padding: 0.25rem;
}

.card {
  background-color: light-dark(
    var(--card-background),
    color-mix(
      in srgb,
      var(--card-background),
      var(--elevation-overlay-color) calc(var(--elevation-2-overlay-opacity))
    )
  );
  border-radius: var(--shape-medium);
  box-shadow: var(--card-elevation);
  overflow: hidden;
  table {
    width: 100%;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  padding: 1rem;
  flex: 1;
  background-color: var(--page-background);
}

@view-transition {
  navigation: auto;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

.page-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  h6 {
    margin: 0;
  }
  .page-filter__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
