.tabs {
  border-radius: 0;
  .tabs__tab {
    border-bottom: 2px solid transparent;
    border-radius: inherit !important;
    flex-direction: column;
    &[aria-selected="true"] {
      border-color: var(--button-selected);
    }
    &:has(.md-symbol) {
      height: 4rem;
      gap: 0.5rem;
    }
    .md-symbol {
      --icon-size: 24;
    }
  }
  &[aria-orientation="horizontal"] {
    border-bottom: 1px solid var(--divider);
    &.tabs--fullwidth .tabs__tab {
      flex-basis: 100%;
    }
    &.tabs--responsive .tabs__tab {
      @media (--phone) or (--tablet-small) {
        flex-basis: 100%;
      }
    }
  }
  &[aria-orientation="vertical"] {
    border-bottom: none;
  }
}

.tabs__panels-container {
  overflow: auto;
  width: 100%;
  flex: 1 0 auto;
}

.tabs__panels {
  display: grid;
  grid-template-columns: 1fr;
  view-transition-class: tab-panel;
  .tabs__panel {
    grid-area: 1 / 1;
    width: 100%;
    display: none;
    &.tabs__panel--selected {
      display: grid;
    }

    .tabs__panel-content {
      grid-area: 1 / 1;
      overflow: auto;
    }
  }
  &::view-transition-group(*) {
    animation-duration: 250ms;
    animation-timing-function: var(--standard-curve);
  }
  &:active-view-transition-type(next) {
    &::view-transition-old(.tab-panel) {
      animation-name: slide-out-to-left;
    }
    &::view-transition-new(.tab-panel) {
      animation-name: slide-in-from-right;
    }
  }
  &:active-view-transition-type(prev) {
    &::view-transition-old(.tab-panel) {
      animation-name: slide-out-to-right;
    }
    &::view-transition-new(.tab-panel) {
      animation-name: slide-in-from-left;
    }
  }
  &.tabs__panels--horizontal:dir(rtl) {
    &:active-view-transition-type(next) {
      &::view-transition-old(.tab-panel) {
        animation-name: slide-out-to-right;
      }
      &::view-transition-new(.tab-panel) {
        animation-name: slide-in-from-left;
      }
    }
    &:active-view-transition-type(prev) {
      &::view-transition-old(.tab-panel) {
        animation-name: slide-out-to-left;
      }
      &::view-transition-new(.tab-panel) {
        animation-name: slide-in-from-right;
      }
    }
  }
  &.tabs__panels--vertical {
    &:active-view-transition-type(next) {
      &::view-transition-old(.tab-panel) {
        animation-name: slide-out-to-top;
      }
      &::view-transition-new(.tab-panel) {
        animation-name: slide-in-from-bottom;
      }
    }
    &:active-view-transition-type(prev) {
      &::view-transition-old(.tab-panel) {
        animation-name: slide-out-to-bottom;
      }
      &::view-transition-new(.tab-panel) {
        animation-name: slide-in-from-top;
      }
    }
  }
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
}

@keyframes slide-in-from-left {
  from {
    transform: translateX(-25%);
    opacity: 0;
  }
}

@keyframes slide-out-to-right {
  to {
    transform: translateX(25%);
    opacity: 0;
  }
}

@keyframes slide-out-to-left {
  to {
    transform: translateX(-25%);
    opacity: 0;
  }
}

@keyframes slide-in-from-bottom {
  from {
    transform: translateY(25%);
    opacity: 0;
  }
}

@keyframes slide-in-from-top {
  from {
    transform: translateY(-25%);
    opacity: 0;
  }
}

@keyframes slide-out-to-bottom {
  to {
    transform: translateY(25%);
    opacity: 0;
  }
}

@keyframes slide-out-to-top {
  to {
    transform: translateY(-25%);
    opacity: 0;
  }
}
