.empty-state {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  .empty-state__icon {
    --icon-size: 64;
    color: color(
      from var(--page-foreground) srgb r g b /
      var(--secondary-text)
    );
  }
  .empty-state__subtitle {
    color: color(
      from var(--page-foreground) srgb r g b /
      var(--secondary-text)
    );
  }
}
