:root {
  --radio-unselected-color: var(--page-foreground);
  --radio-selected-color: var(--secondary);
}

.radio {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem;
  --radio-base-color: var(--radio-unselected-color);
  --radio-border-opacity: var(--primary-text);
  --radio-focus-opacity: 0;
  --radio-focus-scale: 0;
  &:hover:not(:has(input:disabled, input[aria-disabled="true"])) {
    --radio-focus-opacity: var(--hover-opacity);
    --radio-focus-scale: 1;
  }
  input {
    /* visually hidden */
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus-visible ~ .radio__icon {
      outline: none;
      --radio-focus-opacity: var(--focus-opacity);
      --radio-focus-scale: 1;
    }
    &:checked ~ .radio__icon {
      --radio-base-color: var(--radio-selected-color);
      --radio-border-opacity: 1;
      &::before {
        transform: scale(1);
      }
    }
    &:disabled,
    &[aria-disabled="true"] {
      & ~ .radio__icon {
        opacity: var(--disabled-opacity);
        --radio-base-color: var(--page-foreground);
        --radio-selected-color: var(--page-foreground);
      }
    }
  }
  .radio__icon {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    border: 2px solid
      color(
        from var(--radio-base-color) srgb r g b / var(--radio-border-opacity)
      );
    background-color: transparent;
    transition: border-color 250ms, opacity 250ms;
    &::before {
      content: "";
      corner-shape: bevel;
      display: block;
      margin: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border-radius: 50%;
      background-color: var(--radio-selected-color);
      transform: scale(0);
      transition: transform 250ms var(--standard-curve), background-color 250ms;
    }
    &::after {
      content: "";
      position: absolute;
      inset: -8px;
      border-radius: 50%;
      corner-shape: bevel;
      background-color: var(--radio-base-color);
      transform: scale(var(--radio-focus-scale));
      opacity: var(--radio-focus-opacity);
      transition: transform 250ms var(--standard-curve), opacity 250ms;
    }
  }
}
