@import "./-components/table/index.css";
@import "./-components/card/index.css";

.bench-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  > li {
    display: contents;
  }
}
