.md-symbol.material-symbols-sharp {
  --default-icon-grade: 0;
  user-select: none;
  font-size: calc(var(--icon-size, 24) * 1px);
  font-variation-settings: "FILL" var(--icon-fill, 0),
    "wght" var(--icon-weight, 400),
    "GRAD" clamp(-25, var(--icon-grade, var(--default-icon-grade)), 200),
    "opsz" clamp(20, var(--icon-optical-size, var(--icon-size, 24)), 48);
  transition: font-variation-settings 250ms;
  height: 1em;
  width: 1em;
  &:dir(rtl) {
    &[data-flip-rtl] {
      transform: scaleX(-1);
    }
  }
  @media (prefers-color-scheme: dark) {
    --default-icon-grade: -25;
  }
}
