@import "#src/shared/styles/layout";

@import "./-components/list/index.css";
@import "./-components/table/index.css";

.output pre {
  max-width: 32em;
  max-height: 16em;
  border: 1px solid var(--divider);
  border-radius: var(--shape-medium);
}
