@import "#src/shared/styles/layout";

@import "./_conversion/to-json/-components/table/index.css";
@import "./_conversion/from-json/-components/list/index.css";
@import "./_conversion/to-json/-components/matrix/list.css";
@import "./compliance/-components/detail/index.css";
@import "./compliance/-components/list/index.css";

.output pre {
  max-width: 32em;
  max-height: 16em;
  border: 1px solid var(--divider);
  border-radius: var(--shape-medium);
}
