.md-symbol.material-symbols-sharp {
  user-select: none;
  font-size: calc(var(--icon-size, 24) * 1px);
  font-variation-settings:
    "FILL" var(--icon-fill, 0),
    "wght" var(--icon-weight, 400),
    "GRAD" clamp(-25, var(--icon-grade, var(--default-icon-grade)), 200),
    "opsz" clamp(20, var(--icon-optical-size, var(--icon-size, 24)), 48);
  transition: font-variation-settings 250ms;
  height: 1em;
  width: 1em;
  &:dir(rtl) {
    &[data-flip-rtl] {
      transform: scaleX(-1);
    }
  }
}

%light-theme {
  --default-icon-grade: 0;
}
%dark-theme {
  --default-icon-grade: -25;
}

[data-theme="light"] {
  @extend %light-theme;
}
[data-theme="dark"] {
  @extend %dark-theme;
}
@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %light-theme;
  }
}
@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %dark-theme;
  }
}
