.scaler {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
  [data-theme="dark"] & {
    --icon-fill: 1;
  }
  [data-theme="system"] & {
    @media (prefers-color-scheme: dark) {
      --icon-fill: 1;
    }
  }
}
