.plot-container {
  font-feature-settings: "tnum" 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plot-scroll-container {
  max-width: calc(100vw - var(--margin) * 2);
  overflow-x: auto;
}
