/**
 * Github Light theme for Prism.js
 * Based on Github: https://github.com
 * @author Katorly
 */
/* General */
%lightTheme {
  --white: var(--neutral1);
  --white-secondary: #eff1f3;
  --grey: #6e7781;
  --blue: var(--blue6);
  --blue-secondary: var(--blue7);
  --red: var(--red5);
  --purple: #795da3;
  --light-blue: #9fc6e9;
  --black: #1f2328;

  --neutral0: #ffffff;
  --neutral1: #f6f8fa;
  --neutral2: #eff2f5;
  --neutral3: #e6eaef;
  --neutral4: #e0e6eb;
  --neutral5: #dae0e7;
  --neutral6: #d1d9e0;
  --neutral7: #c8d1da;
  --neutral8: #818b98;
  --neutral9: #59636e;
  --neutral10: #454c54;
  --neutral11: #393f46;
  --neutral12: #24292f;
  --neutral13: #1f2328;

  --blue0: #ddf4ff;
  --blue1: #b6e3ff;
  --blue2: #80ccff;
  --blue3: #54aeff;
  --blue4: #218bff;
  --blue5: #0969da;
  --blue6: #0550ae;
  --blue7: #033d8b;
  --blue8: #0a3069;
  --blue9: #002155;

  --green0: #dafbe1;
  --green1: #aceebb;
  --green2: #6fdd8b;
  --green3: #4ac26b;
  --green4: #2da44e;
  --green5: #1a7f37;
  --green6: #116329;
  --green7: #044f1e;
  --green8: #003d16;
  --green9: #002d11;

  --yellow0: #fff8c5;
  --yellow1: #fae17d;
  --yellow2: #eac54f;
  --yellow3: #d4a72c;
  --yellow4: #bf8700;
  --yellow5: #9a6700;
  --yellow6: #7d4e00;
  --yellow7: #633c01;
  --yellow8: #4d2d00;
  --yellow9: #3b2300;

  --orange0: #fff1e5;
  --orange1: #ffd8b5;
  --orange2: #ffb77c;
  --orange3: #fb8f44;
  --orange4: #e16f24;
  --orange5: #bc4c00;
  --orange6: #953800;
  --orange7: #762c00;
  --orange8: #5c2200;
  --orange9: #471700;

  --red0: #ffebe9;
  --red1: #ffcecb;
  --red2: #ffaba8;
  --red3: #ff8182;
  --red4: #fa4549;
  --red5: #cf222e;
  --red6: #a40e26;
  --red7: #82071e;
  --red8: #660018;
  --red9: #4c0014;

  --purple0: #fbefff;
  --purple1: #ecd8ff;
  --purple2: #d8b9ff;
  --purple3: #c297ff;
  --purple4: #a475f9;
  --purple5: #8250df;
  --purple6: #6639ba;
  --purple7: #512a97;
  --purple8: #3e1f79;
  --purple9: #2e1461;

  --pink0: #ffeff7;
  --pink1: #ffd3eb;
  --pink2: #ffadda;
  --pink3: #ff80c8;
  --pink4: #e85aad;
  --pink5: #bf3989;
  --pink6: #99286e;
  --pink7: #772057;
  --pink8: #611347;
  --pink9: #4d0336;

  --coral0: #fff0eb;
  --coral1: #ffd6cc;
  --coral2: #ffb4a1;
  --coral3: #fd8c73;
  --coral4: #ec6547;
  --coral5: #c4432b;
  --coral6: #9e2f1c;
  --coral7: #801f0f;
  --coral8: #691105;
  --coral9: #510901;

  --foreground: #24292f;
  --selection: #fff8c5;
  --selection-shadow: #eed888;

  --background: var(--white);
  --comment: var(--grey);

  pre[class*="language-"],
  code[class*="language-"] {
    color: var(--foreground);
    text-shadow: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  pre[class*="language-"]::selection,
  code[class*="language-"]::selection {
    text-shadow: none;
    background: var(--selection);
  }
  @media print {
    pre[class*="language-"],
    code[class*="language-"] {
      text-shadow: none;
    }
  }
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }
  :not(pre) > code[class*="language-"] {
    padding: 0.1em 0.3em;
    border-radius: var(--shape-small);
    color: var(--foreground);
  }
  /* Line highlighting */
  pre[data-line] {
    position: relative;
  }
  pre[class*="language-"] > code[class*="language-"] {
    position: relative;
    z-index: var(--z-index-code);
  }
  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    background: var(--selection);
    box-shadow: inset 5px 0 0 var(--selection-shadow);
    z-index: var(--z-index-code-highlight);
    pointer-events: none;
    line-height: inherit;
    white-space: pre;
  }
  /* Tokens */
  .namespace {
    opacity: 0.7;
  }
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: var(--comment);
  }
  .token.punctuation {
    color: var(--foreground);
  }
  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: var(--blue);
  }
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: var(--blue-secondary);
  }
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: var(--blue);
  }
  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: var(--red);
  }
  .token.function {
    color: var(--purple);
  }
  .token.regex,
  .token.important,
  .token.variable {
    color: var(--blue-secondary);
  }
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  .token.entity {
    cursor: help;
  }
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %lightTheme;
  }
}

[data-theme="light"] {
  @extend %lightTheme;
}
