table {
  border-collapse: collapse;
}

thead {
  border-bottom: 1px solid var(--divider);
  tr {
    min-height: 56px;
  }
}

tr {
  min-height: 52px;
  &:not(:last-child) {
    border-bottom: 1px solid var(--divider);
  }
}

td,
th {
  padding: 1rem;
  text-align: left;
  &.numeric {
    text-align: right;
    font-feature-settings: "tnum" 1;
  }
  &.action {
    text-align: center;
    .radio,
    .checkbox {
      margin: 0 auto;
    }
  }
  &.fit-content {
    width: 1px;
  }
}

th {
  @extend .typo-subtitle2;
  font-weight: var(--weight-medium);
}

td {
  @extend .typo-body2;
  &.bar-after {
    padding-left: 0;
    &:dir(rtl) {
      padding-left: 1rem;
      padding-right: 0;
    }
  }
  &.bar-before {
    padding-right: 0;
    &:dir(rtl) {
      padding-right: 1rem;
      padding-left: 0;
    }
  }
  &:has(.button--toggle) {
    padding: 0;
  }
  &:has(> pre[class*="language-"]) {
    padding: 0.5rem;
  }
  pre[class*="language-"] {
    margin: 0;
    padding: 0.75rem 0.5rem;
  }
}

.bar {
  height: 1rem;
  width: 100%;
  min-width: 4rem;
  overflow: hidden;
  position: relative;
  background-color: var(--divider);
  .bar__fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition:
      width 150ms var(--standard-curve),
      background-color 150ms linear;
    &:dir(rtl) {
      left: auto;
      right: 0;
    }
  }
}

table.minimal {
  tr {
    vertical-align: baseline;
    border: none;
  }
  th {
    @extend .typo-caption;
    color: color(
      from var(--page-foreground) srgb r g b / var(--secondary-text)
    );
  }
}
