.bench-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  min-width: 256px;
  border-radius: var(--shape-medium);
  border: 1px solid var(--divider);
  .bench-card__version {
    color: color(
      from var(--page-foreground) srgb r g b / var(--secondary-text)
    );
    margin: 0;
  }
  .bench-card__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bench-card__library-name {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    h4 {
      margin: 0;
    }
    .bench-card__note {
      color: color(
        from var(--page-foreground) srgb r g b / var(--secondary-text)
      );
      margin: 0;
    }
  }
  .bench-card__downloads {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color(
      from var(--page-foreground) srgb r g b / var(--secondary-text)
    );
  }
  table {
    th:first-child,
    td:first-child {
      padding-left: 0;
      &:dir(rtl) {
        padding-left: 1rem;
        padding-right: 0;
      }
    }
    th:last-child,
    td:last-child {
      padding-right: 0;
      &:dir(rtl) {
        padding-right: 1rem;
        padding-left: 0;
      }
    }
  }
}
