:root {
  --sidebar-background: light-dark(white, var(--md-blue-grey-900));
  --sidebar-foreground: var(--page-foreground);
  --focused-link-background: color-mix(
    in srgb,
    var(--sidebar-background),
    var(--sidebar-foreground) 20%
  );
  --active-link-foreground: var(--primary);
  --active-link-background: color(
    from var(--active-link-foreground) srgb r g b / 0.1
  );
  --focused-active-link-background: color-mix(
    in srgb,
    var(--active-link-background),
    var(--active-link-foreground) 20%
  );
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  img {
    height: 2rem;
  }
  h2 {
    margin: 0;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  flex: 0 0 16rem;
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  &:dir(rtl) {
    border-right: none;
    border-left: 1px solid var(--divider);
  }
  .sidebar__logo {
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: 3.5rem;
        a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          text-decoration: none;
          color: color(
            from var(--sidebar-foreground) srgb r g b / var(--primary-text)
          );
          transition: color 250ms, font-weight 250ms;
          .md-symbol {
            color: color(
              from var(--sidebar-foreground) srgb r g b / var(--secondary-text)
            );
            margin-right: 2rem;
            &:dir(rtl) {
              margin-right: 0;
              margin-left: 2rem;
            }
          }
          &:hover {
            font-weight: var(--weight-bold);
            .md-symbol {
              --icon-weight: 600;
            }
          }
          &:focus-visible {
            outline: none;
            font-weight: var(--weight-bold);
            background-color: var(--focused-link-background);
            .md-symbol {
              --icon-weight: 600;
            }
          }
          &.active {
            background-color: var(--active-link-background);
            color: var(--active-link-foreground);
            font-weight: var(--weight-bold);
            --icon-fill: 1;
            --icon-weight: 600;
            &:focus-visible {
              background-color: var(--focused-active-link-background);
            }
            .md-symbol {
              color: var(--active-link-foreground);
            }
          }
        }
      }
    }
  }
}
