:root {
  --sidebar-background: light-dark(
    var(--page-background),
    var(--md-blue-grey-900)
  );
}

.sidebar {
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  width: 16rem;
  .logo {
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
  }
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  img {
    height: 2rem;
  }
  h2 {
    margin: 0;
  }
}
