:root {
  --sidebar-width: 16rem;
  --sidebar-collapsed-width: 56px;
  --sidebar-background: light-dark(white, var(--md-blue-grey-900));
  --sidebar-foreground: var(--page-foreground);
  --hovered-link-background: color-mix(
    in hsl,
    var(--sidebar-background),
    var(--sidebar-foreground) var(--hover-opacity)
  );
  --focused-link-background: color-mix(
    in hsl,
    var(--sidebar-background),
    var(--sidebar-foreground) var(--focus-opacity)
  );
  --active-link-foreground: var(--primary);
  --active-link-background: color(
    from var(--active-link-foreground) srgb r g b /
    var(--activated-opacity)
  );
  --hovered-active-link-background: color-mix(
    in hsl,
    var(--active-link-background),
    var(--active-link-foreground)
      calc(var(--hover-opacity) + var(--activated-opacity))
  );
  --focused-active-link-background: color-mix(
    in hsl,
    var(--active-link-background),
    var(--active-link-foreground)
      calc(var(--focus-opacity) + var(--activated-opacity))
  );
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  flex: 0 0 var(--sidebar-width);
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  &:dir(rtl) {
    border-right: none;
    border-left: 1px solid var(--divider);
  }
  overflow-x: hidden;
  overflow-y: auto;
  max-width: var(--sidebar-collapsed-width);
  transition: max-width 250ms var(--standard-curve);
  &:has(a:focus-visible),
  &.sidebar--open {
    max-width: var(--sidebar-width);
  }
  .sidebar__logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1.75rem;
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
    position: relative;
    width: var(--sidebar-width);
    img {
      height: 2rem;
      margin-left: -0.25rem;
      &:dir(rtl) {
        margin-left: 0;
        margin-right: -0.25rem;
      }
    }
    h2 {
      margin: 0;
      white-space: pre;
    }
    .sidebar__toggle {
      position: absolute;
      right: 0;
      &:dir(rtl) {
        right: auto;
        left: 0;
      }
    }
  }
  nav {
    width: var(--sidebar-width);
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .sidebar__group li {
      height: 3.5rem;
      a {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 1rem;
        text-decoration: none;
        color: color(
          from var(--sidebar-foreground) srgb r g b /
          var(--primary-text)
        );
        transition:
          color 250ms,
          font-weight 250ms,
          background-color 250ms;
        .md-symbol {
          color: color(
            from var(--sidebar-foreground) srgb r g b /
            var(--secondary-text)
          );
          margin-right: 2rem;
          &:dir(rtl) {
            margin-right: 0;
            margin-left: 2rem;
          }
        }
        &:hover {
          background-color: var(--hovered-link-background);
          font-weight: var(--weight-bold);
          .md-symbol {
            --icon-weight: 600;
          }
        }
        &:focus-visible {
          outline: none;
          font-weight: var(--weight-bold);
          background-color: var(--focused-link-background);
          .md-symbol {
            --icon-weight: 600;
          }
        }
        &[data-status="active"] {
          background-color: var(--active-link-background);
          color: var(--active-link-foreground);
          font-weight: var(--weight-bold);
          --icon-fill: 1;
          --icon-weight: 600;
          &:hover {
            background-color: var(--hovered-active-link-background);
          }
          &:focus-visible {
            background-color: var(--focused-active-link-background);
          }
          .md-symbol {
            color: var(--active-link-foreground);
          }
        }
      }
    }
    .sidebar__subheader {
      margin: 0;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      color: color(
        from var(--sidebar-foreground) srgb r g b /
        var(--secondary-text)
      );
    }
    hr {
      margin: 1rem 0;
    }
  }

  @media (--phone) or (--tablet-small) or (--tablet-large) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--elevation-0);
    background-color: light-dark(
      var(--sidebar-background),
      color-mix(
        in hsl,
        var(--sidebar-background),
        var(--elevation-overlay-color) calc(var(--elevation-16-overlay-opacity))
      )
    );
    z-index: 16;
    width: var(--sidebar-width);
    border-radius: 0 var(--shape-large) var(--shape-large) 0;
    transform: translateX(-100%);
    transition:
      transform 250ms var(--exit-temporary-curve),
      var(--elevation-transition);
    &:dir(rtl) {
      left: auto;
      right: 0;
      border-radius: var(--shape-large) 0 0 var(--shape-large);
      transform: translateX(100%);
    }
    @media (prefers-reduced-motion) {
      transition: none;
    }

    &,
    &.sidebar--open {
      max-width: none;
    }

    &.sidebar--open {
      transform: translateX(0);
      box-shadow: var(--elevation-16);
      transition:
        transform 250ms var(--enter-curve),
        var(--elevation-transition);
    }

    .sidebar__logo,
    nav {
      width: 100%;
    }

    .sidebar__toggle {
      display: none;
    }
  }
  @media (--phone) {
    width: calc(100vw - 4rem);
  }
}

.sidebar-backdrop {
  display: none;
  @media (--phone) or (--tablet-small) or (--tablet-large) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: background-color 250ms var(--standard-curve);
    &.sidebar-backdrop--visible {
      background-color: color(from var(--page-foreground) srgb r g b / 0.32);
      z-index: 15;
      pointer-events: all;
    }
  }
}
