:root {
  --sidebar-background: light-dark(white, var(--md-blue-grey-900));
  --sidebar-foreground: var(--page-foreground);
  --active-link-foreground: var(--primary);
  --active-link-background: color(
    from var(--active-link-foreground) srgb r g b /
    0.1
  );
}

.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 0.5rem;
  img {
    height: 2rem;
  }
  h2 {
    margin: 0;
  }
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  flex: 0 0 16rem;
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  .sidebar__logo {
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        height: 3rem;
        a {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          text-decoration: none;
          color: var(--sidebar-foreground);
          transition:
            color 250ms,
            font-weight 250ms;
          .md-symbol {
            margin-right: 0.5rem;
          }
          &:hover {
            font-weight: var(--weight-bold);
            .md-symbol {
              --icon-weight: 600;
            }
          }
          &.active {
            background-color: var(--active-link-background);
            color: var(--active-link-foreground);
            font-weight: var(--weight-bold);
            .md-symbol {
              --icon-fill: 1;
              --icon-weight: 600;
            }
          }
        }
      }
    }
  }
}
