.blog-dateline {
  display: flex;
  align-items: center;
  gap: 1em;
  p {
    margin: 0;
  }
}

.blog-title {
  margin: 0;
}

.blog-cover {
  background-color: var(--sidebar-background);
  margin: 0 auto;
  min-width: min(32rem, calc(100vw - var(--margin) * 2));
  aspect-ratio: 16 / 9;
  border-radius: var(--shape-medium);
  overflow: hidden;
  transition: border-color 150ms var(--standard-curve);
  &:has(p) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }
  p {
    vertical-align: middle;
    text-align: center;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--shape-medium);
  border: 1px solid var(--divider);
  a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    &:focus-visible {
      outline: none;
    }
  }
  h2 {
    margin: 0;
  }
}
