.json-schema-compliance-detail {
  padding: 0;
  min-width: min(40rem, calc(100vw - 2rem));
  .json-schema-compliance-detail__header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .json-schema-compliance-detail__header {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    > * {
      margin: 0;
    }
  }
  .json-schema-compliance-detail__summary {
    padding: 0 1rem;
    margin: 0;
  }
  .json-schema-compliance-detail__details {
    border: none;
    border-radius: 0;
  }
  .json-schema-compliance-detail__details-container {
    flex: 1 1 auto;
    min-block-size: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    border-top: 1px solid var(--divider);
    border-bottom: 1px solid var(--divider);
  }
  .json-schema-compliance-detail__details {
    overflow: visible;
  }
  .json-schema-compliance-detail__details-summary {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0 1rem;
    .list-item__content {
      padding: 1rem 0;
    }
  }
  pre[class*="language-"] {
    border-radius: 0;
    margin: 0;
  }
  .json-schema-compliance-detail__files,
  .dialog__actions {
    margin: 0;
  }
}
