/* copied from prism-material-light.css, but placed inside a media query */

@media (prefers-color-scheme: light) {
  code[class*="language-"],
  pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: var(--md-blue-grey-300);
    background: var(--md-grey-50);
    font-family: var(--font-family-code);
    font-size: 1em;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    &::-moz-selection,
    ::selection,
    &::selection,
    ::selection {
      background: #cceae7;
      color: var(--md-blue-grey-900);
    }
  }

  :not(pre) > code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
  }

  pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
  }

  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #f76d47;
  }

  [class*="language-"] .namespace {
    opacity: 0.7;
  }

  .token {
    &.atrule,
    &.boolean,
    &.constant,
    &.function,
    &.id,
    &.important,
    &.keyword,
    &.symbol {
      color: var(--md-purple-a200);
    }
    &.attr-name,
    &.built-in,
    &.cdata,
    &.char,
    &.class,
    &.inserted,
    &.operator,
    &.property,
    &.punctuation {
      color: #39adb5;
    }
    &.attr-value,
    &.attribute,
    &.pseudo-class,
    &.pseudo-element,
    &.string {
      color: #f6a434;
    }
    &.class-name,
    &.regex {
      color: #6182b8;
    }
    &.comment,
    &.doctype,
    &.prolog {
      color: #aabfc9;
    }
    &.deleted,
    &.entity,
    &.selector,
    &.tag,
    &.url,
    &.variable {
      color: var(--md-red-600);
    }
    &.hexcode,
    &.number,
    &.unit {
      color: #f76d47;
    }
    &.id,
    &.important {
      font-weight: bold;
    }
  }
}
