@import "material-colors/dist/colors.var.css";

:root {
	--primary: light-dark(var(--md-teal-500), var(--md-teal-300));
	--on-primary: black;
	--accent: var(--md-deep-orange-300);
	--on-accent: black;

	--pink: light-dark(var(--md-pink-500), var(--md-pink-300));
	--red: light-dark(var(--md-red-500), var(--md-red-300));
	--deep-orange: light-dark(
		var(--md-deep-orange-500),
		var(--md-deep-orange-300)
	);
	--orange: light-dark(var(--md-orange-500), var(--md-orange-300));
	--amber: light-dark(var(--md-amber-500), var(--md-amber-300));
	--yellow: light-dark(var(--md-yellow-500), var(--md-yellow-300));
	--lime: light-dark(var(--md-lime-500), var(--md-lime-300));
	--light-green: light-dark(
		var(--md-light-green-500),
		var(--md-light-green-300)
	);
	--green: light-dark(var(--md-green-500), var(--md-green-300));
	--teal: light-dark(var(--md-teal-500), var(--md-teal-300));

	--page-background: light-dark(
		var(--md-blue-grey-50),
		var(--md-blue-grey-800)
	);
	--page-foreground: light-dark(
		var(--md-blue-grey-900),
		var(--md-blue-grey-50)
	);

	--divider: color(from var(--page-foreground) srgb r g b / 0.12);
}
