.elevation-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.elevation-box {
  width: 100px;
  height: 100px;
  border-radius: var(--shape-medium);
  background-color: var(--card-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.elevation-transition {
  box-shadow: var(--elevation-2);
  transition: var(--elevation-transition);
  &:hover {
    box-shadow: var(--elevation-6);
  }
}
