.elevation-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.elevation-box {
  width: 100px;
  height: 100px;
  border-radius: var(--shape-medium);
  background-color: light-dark(
    var(--surface),
    color-mix(
      in hsl,
      var(--surface),
      var(--elevation-overlay-color) var(--elevation-overlay-opacity)
    )
  );
  display: flex;
  align-items: center;
  justify-content: center;
  &.bordered {
    border: 1px solid var(--divider);
  }
}

.elevation-transition {
  background-color: light-dark(
    var(--surface),
    color-mix(
      in hsl,
      var(--surface),
      var(--elevation-overlay-color) var(--elevation-2-overlay-opacity)
    )
  );
  transition: var(--elevation-transition), var(--elevation-overlay-transition);
  &:hover {
    box-shadow: var(--elevation-6);
    background-color: light-dark(
      var(--surface),
      color-mix(
        in hsl,
        var(--surface),
        var(--elevation-overlay-color) var(--elevation-6-overlay-opacity)
      )
    );
  }
}
