:root {
  --shadow-color: var(--md-blue-grey-900);
  --umbra-opacity: 0.2;
  --penumbra-opacity: 0.14;
  --ambient-opacity: 0.12;
  --umbra-color: color(
    from var(--shadow-color) srgb r g b / var(--umbra-opacity)
  );
  --penumbra-color: color(
    from var(--shadow-color) srgb r g b / var(--penumbra-opacity)
  );
  --ambient-color: color(
    from var(--shadow-color) srgb r g b / var(--ambient-opacity)
  );
  --elevation-0: 0 0 0 0 var(--umbra-color), 0 0 0 0 var(--penumbra-color),
    0 0 0 0 var(--ambient-color);
  --elevation-1: 0 2px 1px -1px var(--umbra-color),
    0 1px 1px 0 var(--penumbra-color), 0 1px 3px 0 var(--ambient-color);
  --elevation-2: 0 3px 1px -2px var(--umbra-color),
    0 2px 2px 0 var(--penumbra-color), 0 1px 5px 0 var(--ambient-color);
  --elevation-3: 0 3px 3px -2px var(--umbra-color),
    0 3px 4px 0 var(--penumbra-color), 0 1px 8px 0 var(--ambient-color);
  --elevation-4: 0 2px 4px -1px var(--umbra-color),
    0 4px 5px 0 var(--penumbra-color), 0 1px 10px 0 var(--ambient-color);
  --elevation-5: 0 3px 5px -1px var(--umbra-color),
    0 5px 8px 0 var(--penumbra-color), 0 1px 14px 0 var(--ambient-color);
  --elevation-6: 0 3px 5px -1px var(--umbra-color),
    0 6px 10px 0 var(--penumbra-color), 0 1px 18px 0 var(--ambient-color);
  --elevation-7: 0 4px 5px -2px var(--umbra-color),
    0 7px 10px 1px var(--penumbra-color), 0 2px 16px 1px var(--ambient-color);
  --elevation-8: 0 5px 5px -3px var(--umbra-color),
    0 8px 10px 1px var(--penumbra-color), 0 3px 14px 2px var(--ambient-color);
  --elevation-9: 0 5px 6px -3px var(--umbra-color),
    0 9px 12px 1px var(--penumbra-color), 0 3px 16px 2px var(--ambient-color);
  --elevation-10: 0 6px 6px -3px var(--umbra-color),
    0 10px 14px 1px var(--penumbra-color), 0 4px 18px 3px var(--ambient-color);
  --elevation-11: 0 6px 7px -4px var(--umbra-color),
    0 11px 15px 1px var(--penumbra-color), 0 4px 20px 3px var(--ambient-color);
  --elevation-12: 0 7px 8px -4px var(--umbra-color),
    0 12px 17px 2px var(--penumbra-color), 0 5px 22px 0 var(--ambient-color);
  --elevation-13: 0 7px 8px -4px var(--umbra-color),
    0 13px 19px 2px var(--penumbra-color), 0 5px 24px 4px var(--ambient-color);
  --elevation-14: 0 7px 9px -4px var(--umbra-color),
    0 14px 21px 2px var(--penumbra-color), 0 5px 26px 4px var(--ambient-color);
  --elevation-15: 0 8px 9px -5px var(--umbra-color),
    0 15px 22px 2px var(--penumbra-color), 0 6px 28px 5px var(--ambient-color);
  --elevation-16: 0 8px 10px -5px var(--umbra-color),
    0 16px 24px 2px var(--penumbra-color), 0 6px 30px 5px var(--ambient-color);
  --elevation-17: 0 8px 11px -5px var(--umbra-color),
    0 17px 26px 2px var(--penumbra-color), 0 6px 32px 5px var(--ambient-color);
  --elevation-18: 0 9px 11px -5px var(--umbra-color),
    0 18px 28px 2px var(--penumbra-color), 0 7px 34px 6px var(--ambient-color);
  --elevation-19: 0 9px 12px -6px var(--umbra-color),
    0 19px 29px 2px var(--penumbra-color), 0 7px 36px 6px var(--ambient-color);
  --elevation-20: 0 10px 13px -6px var(--umbra-color),
    0 20px 31px 3px var(--penumbra-color), 0 8px 38px 7px var(--ambient-color);
  --elevation-21: 0 10px 13px -6px var(--umbra-color),
    0 21px 33px 4px var(--penumbra-color), 0 8px 40px 7px var(--ambient-color);
  --elevation-22: 0 10px 14px -6px var(--umbra-color),
    0 22px 35px 3px var(--penumbra-color), 0 8px 42px 7px var(--ambient-color);
  --elevation-23: 0 11px 14px -7px var(--umbra-color),
    0 23px 36px 3px var(--penumbra-color), 0 9px 44px 8px var(--ambient-color);
  --elevation-24: 0 11px 15px -7px var(--umbra-color),
    0 24px 38px 3px var(--penumbra-color), 0 9px 46px 8px var(--ambient-color);

  --elevation-overlay-color: var(--md-blue-grey-50);
  --elevation-0-overlay-opacity: 0;
  --elevation-1-overlay-opacity: 0.05;
  --elevation-2-overlay-opacity: 0.07;
  --elevation-3-overlay-opacity: 0.08;
  --elevation-4-overlay-opacity: 0.09;
  --elevation-5-overlay-opacity: 0.1;
  --elevation-6-overlay-opacity: 0.11;
  --elevation-7-overlay-opacity: 0.115;
  --elevation-8-overlay-opacity: 0.12;
  --elevation-9-overlay-opacity: 0.125;
  --elevation-10-overlay-opacity: 0.13;
  --elevation-11-overlay-opacity: 0.135;
  --elevation-12-overlay-opacity: 0.14;
  --elevation-13-overlay-opacity: 0.145;
  --elevation-14-overlay-opacity: 0.15;
  --elevation-15-overlay-opacity: 0.15;
  --elevation-16-overlay-opacity: 0.15;
  --elevation-17-overlay-opacity: 0.15;
  --elevation-18-overlay-opacity: 0.155;
  --elevation-19-overlay-opacity: 0.155;
  --elevation-20-overlay-opacity: 0.155;
  --elevation-21-overlay-opacity: 0.155;
  --elevation-22-overlay-opacity: 0.16;
  --elevation-23-overlay-opacity: 0.16;
  --elevation-24-overlay-opacity: 0.16;

  --elevation-transition: box-shadow 280ms var(--standard-curve);
  --elevation-overlay-transition: background-color 280ms var(--standard-curve);

  --card-elevation: var(--elevation-2);
}

@function --elevation-overlay(--color, --elevation-opacity) {
  @media (prefers-color-scheme: dark) {
    result: color-mix(
      in srgb,
      var(--color),
      var(--elevation-overlay-color) calc(var(--elevation-opacity) * 100%)
    );
  }
}
