.elevation-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.elevation-box {
  width: 100px;
  height: 100px;
  border-radius: var(--shape-medium);
  background-color: light-dark(
    var(--card-background),
    color-mix(
      in srgb,
      var(--card-background),
      var(--elevation-overlay-color)
        calc(var(--elevation-overlay-opacity) * 100%)
    )
  );
  display: flex;
  align-items: center;
  justify-content: center;
  &.bordered {
    border: 1px solid var(--divider);
  }
}

.elevation-transition {
  background-color: light-dark(
    var(--card-background),
    color-mix(
      in srgb,
      var(--card-background),
      var(--elevation-overlay-color)
        calc(var(--elevation-2-overlay-opacity) * 100%)
    )
  );
  transition: var(--elevation-transition), var(--elevation-overlay-transition);
  &:hover {
    box-shadow: var(--elevation-6);
    background-color: light-dark(
      var(--card-background),
      color-mix(
        in srgb,
        var(--card-background),
        var(--elevation-overlay-color)
          calc(var(--elevation-6-overlay-opacity) * 100%)
      )
    );
  }
}
