:root {
  --font-family-headline:
    "Google Sans Flex", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-family-body:
    "Google Sans Flex", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-family-code:
    "Google Sans Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;

  --width-narrow-thin: 50;
  --width-narrow-extra-light: 60;
  --width-narrow-light: 70;
  --width-narrow-regular: 80;
  --width-narrow-medium: 90;
  --width-narrow-semibold: 100;
  --width-narrow-bold: 100;
  --width-narrow-extra-bold: 100;
  --width-narrow-black: 100;

  --headline1-family: var(--font-family-headline);
  --headline1-size: 6.3125rem;
  --headline1-weight: var(--weight-extra-light);
  --headline1-width: var(--width-narrow-extra-light);
  --headline2-family: var(--font-family-headline);
  --headline2-size: 3.9375rem;
  --headline2-weight: var(--weight-light);
  --headline2-width: var(--width-narrow-light);
  --headline3-family: var(--font-family-headline);
  --headline3-size: 3.125rem;
  --headline3-width: var(--width-narrow-light);
  --headline3-weight: var(--weight-light);
  --headline4-family: var(--font-family-headline);
  --headline4-size: 2.25rem;
  --headline4-weight: var(--weight-light);
  --headline4-width: var(--width-narrow-light);
  --headline5-family: var(--font-family-headline);
  --headline5-size: 1.5625rem;
  --headline5-weight: var(--weight-regular);
  --headline5-width: var(--width-narrow-regular);
  --headline6-family: var(--font-family-headline);
  --headline6-size: 1.3125rem;
  --headline6-weight: var(--weight-regular);
  --headline6-width: var(--width-narrow-regular);
  --body1-family: var(--font-family-body);
  --body1-size: 1.0625rem;
  --body1-weight: var(--weight-regular);
  --body2-family: var(--font-family-body);
  --body2-size: 0.9375rem;
  --body2-weight: var(--weight-regular);
  --subtitle1-family: var(--font-family-body);
  --subtitle1-size: 1.0625rem;
  --subtitle1-weight: var(--weight-regular);
  --subtitle1-width: var(--width-narrow-regular);
  --subtitle2-family: var(--font-family-body);
  --subtitle2-size: 0.9375rem;
  --subtitle2-weight: var(--weight-regular);
  --subtitle2-width: var(--width-narrow-regular);
  --button-family: var(--font-family-body);
  --button-size: 0.9375rem;
  --button-weight: var(--weight-medium);
  --overline-family: var(--font-family-body);
  --overline-size: 0.625rem;
  --overline-weight: var(--weight-regular);
  --caption-family: var(--font-family-body);
  --caption-size: 0.8125rem;
  --caption-weight: var(--weight-regular);

  --primary-text: 0.87;
  --secondary-text: 0.6;
  --disabled-text: 0.38;
}

@media (prefers-color-scheme: dark) {
  /* Text looks thicker on dark backgrounds, so we use thinner weights to compensate */
  :root {
    --weight-thin: 50;
    --weight-extra-light: 150;
    --weight-light: 250;
    --weight-regular: 350;
    --weight-medium: 450;
    --weight-semibold: 550;
    --weight-bold: 650;
    --weight-extra-bold: 750;
    --weight-black: 850;
  }
}

.typo-headline1 {
  font-family: var(--headline1-family);
  font-size: var(--headline1-size);
  font-weight: var(--headline1-weight);
  --font-width: var(--headline1-width);
}

.typo-headline2 {
  font-family: var(--headline2-family);
  font-size: var(--headline2-size);
  font-weight: var(--headline2-weight);
  --font-width: var(--headline2-width);
}

.typo-headline3 {
  font-family: var(--headline3-family);
  font-size: var(--headline3-size);
  font-weight: var(--headline3-weight);
  --font-width: var(--headline3-width);
}

.typo-headline4 {
  font-family: var(--headline4-family);
  font-size: var(--headline4-size);
  font-weight: var(--headline4-weight);
  --font-width: var(--headline4-width);
}

.typo-headline5 {
  font-family: var(--headline5-family);
  font-size: var(--headline5-size);
  font-weight: var(--headline5-weight);
  --font-width: var(--headline5-width);
}

.typo-headline6 {
  font-family: var(--headline6-family);
  font-size: var(--headline6-size);
  font-weight: var(--headline6-weight);
  --font-width: var(--headline6-width);
}

.typo-button {
  font-family: var(--button-family);
  font-size: var(--button-size);
  font-weight: var(--button-weight);
  text-transform: uppercase;
}

.typo-body1 {
  font-family: var(--body1-family);
  font-size: var(--body1-size);
  font-weight: var(--body1-weight);
}

.typo-body2 {
  font-family: var(--body2-family);
  font-size: var(--body2-size);
  font-weight: var(--body2-weight);
}

.typo-subtitle1 {
  font-family: var(--subtitle1-family);
  font-size: var(--subtitle1-size);
  font-weight: var(--subtitle1-weight);
  --font-width: var(--subtitle1-width);
}

.typo-subtitle2 {
  font-family: var(--subtitle2-family);
  font-size: var(--subtitle2-size);
  font-weight: var(--subtitle2-weight);
  --font-width: var(--subtitle2-width);
}

.typo-overline {
  font-family: var(--overline-family);
  font-size: var(--overline-size);
  font-weight: var(--overline-weight);
  text-transform: uppercase;
}

.typo-caption {
  font-family: var(--caption-family);
  font-size: var(--caption-size);
  font-weight: var(--caption-weight);
}

h1 {
  @extend .typo-headline3;
}

h2 {
  @extend .typo-headline4;
}

h3 {
  @extend .typo-headline5;
}

h4 {
  @extend .typo-headline6;
}

h5 {
  @extend .typo-subtitle1;
}

h6 {
  @extend .typo-subtitle2;
}

*:not(.material-symbols-sharp) {
  font-variation-settings:
    "GRAD" var(--font-grade, 0), /* 0-100 */
    "ROND" var(--font-roundness, 0), /* 0-100 */
    "slnt" var(--font-slant, 0), /* -10-0 */
    "wdth" var(--font-width, 100); /* 25-151 */
}
