:root {
  --page-header-height: 4rem;
}

.page-header {
  view-transition-name: page-header;
  max-width: 100vw;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--divider);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: var(--page-background);
  height: var(--page-header-height);
  padding: 1rem;
  .page-header__toggle {
    display: none;
    margin-left: -1rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -1rem;
    }
    /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
    @media (--modal-sidebar) {
      display: block;
    }
  }
  .page-header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: auto;
    }
    .pref-switcher {
      background-color: var(--sidebar-background);
      @media (--modal-sidebar) {
        display: none;
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--phone) {
    display: none;
  }
  a {
    text-decoration: none;
    color: color(
      from var(--page-header-foreground) srgb r g b / var(--primary-text)
    );
    transition:
      color 250ms,
      font-weight 250ms,
      font-variation-settings 250ms;
    &:hover,
    &:focus-visible {
      --font-slant: -11;
    }
    &:focus-visible {
      outline: none;
    }
  }
  span {
    font-weight: var(--weight-bold);
  }
}
