.stack-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  min-width: 256px;
  border-radius: var(--shape-medium);
  border: 1px solid var(--divider);
  .stack-card__version {
    color: color(
      from var(--page-foreground) srgb r g b /
      var(--secondary-text)
    );
    margin: 0;
  }
  .stack-card__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stack-card__library-name {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin: 0;
  }
  .stack-card__downloads {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color(
      from var(--page-foreground) srgb r g b /
      var(--secondary-text)
    );
  }
  .stack-card__error {
    max-width: 32rem;
    max-height: 16rem;
    overflow: auto;
    position: relative;
    line-height: 1.5;
    .highlight-line {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1.25em;
      margin: 0;
      height: 1.5em;
      width: 100%;
      & + span {
        position: relative;
      }
    }
  }
}
