.stack-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  min-width: 256px;
  border-radius: var(--shape-medium);
  border: 1px solid var(--divider);
  .stack-card__version {
    color: color(from var(--page-foreground) srgb r g b / var(--secondary-text));
    margin: 0;
  }
  .stack-card__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stack-card__library-name {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    margin: 0;
  }
  .stack-card__downloads {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color(from var(--page-foreground) srgb r g b / var(--secondary-text));
  }
  details {
    width: 100%;
    max-width: 100%;
    summary span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .md-symbol {
        color: color(from var(--details-color) srgb r g b / var(--secondary-text));
        transition: color 250ms;
      }
    }
    pre[class*="language-"] {
      border-radius: 0;
      margin: 0;
      overflow: auto;
      max-height: 16rem;
    }
  }
}
