:root {
  --page-header-background: light-dark(var(--primary), var(--md-blue-grey-700));
  --page-header-foreground: light-dark(
    var(--on-primary),
    var(--page-foreground)
  );
  --page-header-height: 4rem;
}

.page-header {
  background-color: light-dark(
    var(--page-header-background),
    color-mix(
      in hsl,
      var(--page-header-background),
      var(--elevation-overlay-color) var(--elevation-4-overlay-opacity)
    )
  );
  box-shadow: var(--elevation-4);
  display: flex;
  align-items: center;
  height: var(--page-header-height);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  .page-header__actions {
    margin-left: auto;
  }
  .page-header__toggle {
    --button-base-color: var(--page-header-foreground);
    margin-left: -0.5rem;
    opacity: 1;
    transition: margin 250ms var(--standard-curve), opacity 250ms;
    &:dir(rtl) {
      margin-left: 0;
      margin-right: -0.5rem;
    }
    @media (--laptop) or (--desktop) {
      &.page-header__toggle--open {
        margin-left: -3rem;
        opacity: 0;
        &:dir(rtl) {
          margin-left: 0;
          margin-right: -3rem;
        }
      }
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  a {
    text-decoration: none;
    color: color(from var(--page-foreground) srgb r g b / var(--primary-text));
    transition: font-weight 250ms;
    &:hover {
      font-weight: var(--weight-bold);
    }
    &:focus-visible {
      outline: none;
      font-weight: var(--weight-bold);
    }
  }
  span {
    font-weight: var(--weight-bold);
  }
}
