:root {
	--page-header-background: light-dark(
		var(--md-blue-grey-100),
		var(--md-blue-grey-700)
	);
	--page-header-height: 4rem;
}

.page-header {
	background-color: var(--page-header-background);
	display: flex;
	align-items: center;
	height: var(--page-header-height);
	padding: 1rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
