:root {
  --page-header-background: light-dark(var(--primary), var(--md-blue-grey-700));
  --page-header-foreground: light-dark(
    var(--on-primary),
    var(--page-foreground)
  );
  --page-header-height: 4rem;
}

.page-header {
  background-color: var(--page-header-background);
  background-color: --elevation-overlay(
    var(--page-header-background),
    var(--elevation-4-overlay-opacity)
  );
  box-shadow: var(--elevation-4);
  display: flex;
  align-items: center;
  height: var(--page-header-height);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  a {
    text-decoration: none;
    color: var(--page-foreground);
    transition: font-weight 250ms;
    &:hover {
      font-weight: var(--weight-bold);
    }
  }
  span {
    font-weight: var(--weight-bold);
  }
}
