:root {
  --page-header-background: light-dark(var(--primary), var(--md-blue-grey-700));
  --page-header-foreground: light-dark(
    var(--on-primary),
    var(--page-foreground)
  );
  --page-header-height: 4rem;
}

.page-header {
  background-color: light-dark(
    var(--page-header-background),
    color-mix(
      in srgb,
      var(--page-header-background),
      var(--elevation-overlay-color)
        calc(var(--elevation-4-overlay-opacity) * 100%)
    )
  );
  box-shadow: var(--elevation-4);
  display: flex;
  align-items: center;
  height: var(--page-header-height);
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  a {
    text-decoration: none;
    color: color(from var(--page-foreground) srgb r g b / var(--primary-text));
    transition: font-weight 250ms;
    &:hover {
      font-weight: var(--weight-bold);
    }
    &:focus-visible {
      outline: none;
      font-weight: var(--weight-bold);
      color: var(--primary);
    }
  }
  span {
    font-weight: var(--weight-bold);
  }
}
