:root {
  --snackbar-enter-duration: 150ms;
  --snackbar-exit-duration: 75ms;
}

.snackbar {
  @extend .typo-body2;
  position: relative;
  min-height: 3rem;
  min-width: 21.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
  overflow: hidden;
  border-radius: var(--shape-medium);
  background-color: var(--snackbar-background);
  border: 1px solid var(--divider);
  color: color(from var(--foreground) srgb r g b / var(--primary-text));
  --snackbar-accent: var(--button);
  @media (max-width: 599px) {
    min-width: calc(100vw - 2rem);
  }

  transform: scale(0.8);
  opacity: 0;
  transition:
    transform var(--snackbar-exit-duration) var(--exit-temporary-curve),
    opacity var(--snackbar-exit-duration) var(--exit-temporary-curve);
  &.snackbar--visible {
    transform: scale(1);
    opacity: 1;
    animation:
      snackbar-enter var(--snackbar-enter-duration) var(--enter-curve),
      snackbar-fade-in var(--snackbar-enter-duration) linear;
    @media (prefers-reduced-motion) {
      animation: snackbar-fade-in var(--snackbar-enter-duration) linear;
    }
  }

  &.snackbar--error {
    --snackbar-accent: var(--error);
  }
  &.snackbar--success {
    --snackbar-accent: var(--success);
  }
  &.snackbar--loading {
    --snackbar-accent: var(--info);
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: var(--shape-medium);
    height: 100%;
    background-color: var(--snackbar-accent);
  }

  &:dir(rtl)::before {
    left: auto;
    right: 0;
  }

  .snackbar__icon {
    color: var(--snackbar-accent);
    display: contents;
    > * {
      margin-left: -0.5rem;
      &:dir(rtl) {
        margin-right: -0.5rem;
      }
    }
  }
  button {
    margin: -0.625rem -0.5rem;
    margin-left: auto;
    &:dir(rtl) {
      margin-right: auto;
      margin-left: -0.5rem;
    }
  }
}

@keyframes snackbar-enter {
  0% {
    transform: scale(0.8) translateY(100%);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes snackbar-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
