@import "@/styles/layout";

.blog-dateline {
  display: flex;
  align-items: center;
  gap: 1em;
  p {
    margin: 0;
  }
}

.blog-title {
  margin: 0;
}

.blog-cover {
  background-color: var(--sidebar-background);
  margin: 0 auto;
  border: 1px solid var(--divider);
  min-width: 32rem;
  aspect-ratio: 16 / 9;
  border-radius: var(--shape-medium);
  overflow: hidden;
  transition: border-color 150ms var(--standard-curve);
  &:has(p) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: var(--margin);
  list-style: none;
  padding: 0;
  margin: 0;
  .blog-cover {
    min-width: 0;
    width: 100%;
  }
}

/* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
@media (--desktop) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.blog-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--shape-medium);
  border: 1px solid var(--divider);
  transition:
    border-color var(--elevation-transition-duration) var(--standard-curve),
    var(--elevation-transition),
    var(--elevation-overlay-transition);
  .avatar {
    transition: border-color var(--elevation-transition-duration)
      var(--standard-curve);
  }
  a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    &:focus-visible {
      outline: none;
    }
  }
  &:hover,
  &:has(a:focus-visible) {
    border-color: transparent;
    box-shadow: var(--elevation-2);
    --elevated-background: light-dark(
      var(--surface),
      color-mix(
        in hsl,
        var(--surface),
        var(--elevation-overlay-color) var(--elevation-2-overlay-opacity)
      )
    );
    background-color: var(--elevated-background);
    --avatar-border: var(--elevated-background);
  }
  h2 {
    margin: 0;
  }
}
