@import "@/styles/layout";

@import "./components/card/index.css";

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  gap: var(--margin);
  list-style: none;
  padding: 0;
  margin: 0;
  .blog-cover {
    min-width: 0;
    width: 100%;
  }
}

/* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
@media (--desktop) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
