.bench-card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  .bench-card__version {
    color: color(
      from var(--page-foreground) srgb r g b / var(--secondary-text)
    );
    margin: 0;
  }
  .bench-card__header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bench-card__library-name {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    h4 {
      margin: 0;
    }
    .bench-card__note {
      color: color(
        from var(--page-foreground) srgb r g b / var(--secondary-text)
      );
      margin: 0;
    }
  }
  .bench-card__downloads {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: color(
      from var(--page-foreground) srgb r g b / var(--secondary-text)
    );
  }
  .bench-card__time {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    font-feature-settings: "tnum" 1;
    h6,
    p {
      margin: 0;
    }
  }
}
