@import "normalize.css/normalize.css";
@import "material-colors/dist/colors.var.css";

:root {
  --primary: light-dark(var(--md-teal-500), var(--md-teal-300));
  --on-primary: black;
  --accent: var(--md-deep-orange-300);
  --on-accent: black;

  --red: light-dark(var(--md-red-500), var(--md-red-300));
  --deep-orange: light-dark(
    var(--md-deep-orange-500),
    var(--md-deep-orange-300)
  );
  --orange: light-dark(var(--md-orange-500), var(--md-orange-300));
  --amber: light-dark(var(--md-amber-500), var(--md-amber-300));
  --yellow: light-dark(var(--md-yellow-500), var(--md-yellow-300));
  --lime: light-dark(var(--md-lime-500), var(--md-lime-300));
  --light-green: light-dark(
    var(--md-light-green-500),
    var(--md-light-green-300)
  );
  --green: light-dark(var(--md-green-500), var(--md-green-300));
  --teal: light-dark(var(--md-teal-500), var(--md-teal-300));

  --page-background: light-dark(
    var(--md-blue-grey-50),
    var(--md-blue-grey-800)
  );
  --page-foreground: light-dark(
    var(--md-blue-grey-900),
    var(--md-blue-grey-50)
  );
  --sidebar-background: light-dark(
    var(--page-background),
    var(--md-blue-grey-900)
  );
  --header-background: light-dark(
    var(--md-blue-grey-100),
    var(--md-blue-grey-700)
  );

  --divider: color(from var(--page-foreground) srgb r g b / 0.12);
}

* {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--page-foreground);
}

code {
  font-family: "Google Sans Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

header {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--divider);
  padding: 0 1rem;
  gap: 1rem;
  img {
    height: 2rem;
  }
  h1 {
    margin: 0;
    font-size: 1rem;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

aside {
  width: 16rem;
  background-color: var(--sidebar-background);
  border-right: 1px solid var(--divider);
  display: flex;
  flex-direction: column;
}
