@import "normalize.css/normalize.css";

:root {
  --page-background: light-dark(#eceff1, #37474f);
  --page-foreground: light-dark(#263238, #eceff1);
  --sidebar-background: light-dark(var(--page-background), #263238);
  --header-background: light-dark(#cfd8dc, #455a64);

  --divider: color(from var(--page-foreground) srgb r g b / 0.12);

  --red: light-dark(#f44336, #e57373);
  --deep-orange: light-dark(#ff5722, #ff8a65);
  --orange: light-dark(#ff9800, #ffb74d);
  --yellow: light-dark(#ffeb3b, #fff176);
  --green: light-dark(#4caf50, #81c784);
  --teal: light-dark(#009688, #80cbc4);
}

* {
  box-sizing: border-box;
}

body {
  color-scheme: light dark;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--page-background);
  color: var(--page-foreground);
}

code {
  font-family: "Google Sans Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
}

header {
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--divider);
  padding: 0 1rem;
  gap: 1rem;
  img {
    height: 2rem;
  }
  h1 {
    margin: 0;
    font-size: 1rem;
  }
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

aside {
  width: 16rem;
  background-color: var(--sidebar-background);
  border-right: 1px solid var(--divider);
  display: flex;
  flex-direction: column;
}
