name: Run benchmark and commit results
permissions:
  contents: write

on:
  pull_request:
    branches: ["main"]
    paths:
      - "bench/**"
      - "schemas/**"
  workflow_dispatch:

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref || github.ref }}
      - name: Setup environment
        uses: ./.github/actions/environments
      - name: Run benchmarks
        run: pnpm bench:all
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.head_ref || github.ref }}
          message: "Update bench results"
          rebase: true
