name: Run benchmark and commit results
permissions:
  contents: write

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch: {}

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - uses: pnpm/action-setup@v2
      - name: Install dependencies
        run: pnpm install
      - name: Build schemas
        run: pnpm schemas:build
      - name: Run benchmarks
        run: pnpm bench:all
      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: ${{ github.ref }}
          message: "Update bench results"
