name: CI
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environments
  lint:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environments
      - name: Lint
        run: pnpm check
  typecheck:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environments
      - name: Typecheck
        run: pnpm typecheck
  test:
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - name: Setup environment
        uses: ./.github/actions/environments

      - name: Install Playwright browsers
        run: pnpm dlx playwright install --with-deps chromium
      - name: Test
        run: pnpm test
