:root {
  --sidebar-width: 16rem;
  --sidebar-collapsed-width: 56px;
  --sidebar-background: light-dark(white, var(--md-blue-grey-900));
  --sidebar-foreground: var(--page-foreground);
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  flex: 0 0 var(--sidebar-width);
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--divider);
  &:dir(rtl) {
    border-right: none;
    border-left: 1px solid var(--divider);
  }
  overflow-x: hidden;
  overflow-y: auto;
  max-width: var(--sidebar-collapsed-width);
  transition: max-width 250ms var(--standard-curve);
  &:has(a:focus-visible),
  &.sidebar--open {
    max-width: var(--sidebar-width);
  }
  .sidebar__logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
    position: relative;
    width: var(--sidebar-width);
    img {
      height: 2rem;
      margin-left: -0.25rem;
      &:dir(rtl) {
        margin-left: 0;
        margin-right: -0.25rem;
      }
    }
    h2 {
      margin: 0;
      white-space: pre;
    }
    .sidebar__toggle {
      position: absolute;
      right: 0;
      &:dir(rtl) {
        right: auto;
        left: 0;
      }
    }
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .sidebar__subheader {
      margin: 0;
      padding: 0 1rem;
      height: 2rem;
      display: flex;
      align-items: center;
      color: color(
        from var(--sidebar-foreground) srgb r g b / var(--secondary-text)
      );
    }
    .list-item__button {
      &:hover,
      &:focus-visible,
      &[data-status="active"] {
        --font-slant: -11;
      }
      .list-item__leading {
        margin: 0 0.25rem;
      }
    }
    hr {
      margin: 1rem 0;
    }
  }

  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--phone) or (--tablet-small) or (--tablet-large) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: var(--elevation-0);
    background-color: light-dark(
      var(--sidebar-background),
      color-mix(
        in hsl,
        var(--sidebar-background),
        var(--elevation-overlay-color) calc(var(--elevation-16-overlay-opacity))
      )
    );
    z-index: 16;
    width: var(--sidebar-width);
    border-radius: 0 var(--shape-large) var(--shape-large) 0;
    transform: translateX(-100%);
    transition:
      transform 250ms var(--exit-temporary-curve),
      var(--elevation-transition);
    &:dir(rtl) {
      left: auto;
      right: 0;
      border-radius: var(--shape-large) 0 0 var(--shape-large);
      transform: translateX(100%);
    }
    @media (prefers-reduced-motion) {
      transition: none;
    }

    &,
    &.sidebar--open {
      max-width: none;
    }

    &.sidebar--open {
      transform: translateX(0);
      box-shadow: var(--elevation-16);
      transition:
        transform 250ms var(--enter-curve),
        var(--elevation-transition);
    }

    .sidebar__logo,
    nav {
      width: 100%;
    }

    .sidebar__toggle {
      display: none;
    }
  }
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--phone) {
    width: calc(100vw - 4rem);
  }
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--laptop) or (--desktop) {
    &:not(.sidebar--open) {
      .sidebar__group li a {
        color: transparent;
      }
    }
  }
}

.sidebar-backdrop {
  display: none;
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--phone) or (--tablet-small) or (--tablet-large) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: background-color 250ms var(--standard-curve);
    &.sidebar-backdrop--visible {
      background-color: color(from var(--page-foreground) srgb r g b / 0.32);
      z-index: 15;
      pointer-events: all;
    }
  }
}

.sidebar__logo-dark {
  display: none;
  @media (prefers-color-scheme: dark) {
    display: block;
  }
}

.sidebar__logo-light {
  display: none;
  @media (prefers-color-scheme: light) {
    display: block;
  }
}
