:root {
  --sidebar-width: 16rem;
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  flex: 0 0 auto;
  background-color: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: var(--sidebar-width);
  .sidebar__logo {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
    margin-bottom: 1rem;
    height: var(--page-header-height);
    border-bottom: 1px solid var(--divider);
    position: relative;
    img {
      height: 2rem;
      margin-left: -0.25rem;
      &:dir(rtl) {
        margin-left: 0;
        margin-right: -0.25rem;
      }
    }
    h2 {
      margin: 0;
      font-family: var(--font-family-code);
    }
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .sidebar__subheader {
      margin: 0;
      padding: 0 1rem;
      height: 2rem;
      display: flex;
      align-items: center;
      color: color(from var(--foreground) srgb r g b / var(--secondary-text));
    }
    .list-item__button {
      --list-item-foreground: var(--link);
      transition:
        color 250ms var(--standard-curve),
        background-color 250ms var(--standard-curve);
      &:visited {
        --list-item-foreground: var(--link-visited);
      }
      &:hover,
      &:focus-visible,
      &[data-status="active"] {
        --font-slant: -11;
      }
      .list-item__text {
        transition:
          font-weight 250ms,
          font-variation-settings 250ms,
          color 250ms;
        font-family: inherit;
      }
      &[data-status="active"] {
        --list-item-foreground: var(--link-current);
        background-color: var(--link-current-background);
      }
      .list-item__leading {
        margin: 0 0.25rem;
      }
    }
    hr {
      margin: 1rem 0;
    }
  }

  .pref-switchers {
    margin-top: auto;
    padding: 1rem;
    border-top: 1px solid var(--divider);
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    .pref-switcher {
      background-color: var(--page-background);
    }
    /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
    @media not (--modal-sidebar) {
      display: none;
    }
  }

  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--modal-sidebar) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 16;
    border-radius: 0 var(--shape-large) var(--shape-large) 0;
    transform: translateX(-100%);
    transition: transform 250ms var(--exit-temporary-curve);
    &:dir(rtl) {
      left: auto;
      right: 0;
      border-radius: var(--shape-large) 0 0 var(--shape-large);
      transform: translateX(100%);
    }
    @media (prefers-reduced-motion) {
      transition: none;
    }

    &.sidebar--open {
      transform: translateX(0);
      transition: transform 250ms var(--enter-curve);
    }

    .sidebar__logo,
    nav {
      width: 100%;
    }
  }
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--phone) {
    width: calc(100vw - 4rem);
  }
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--laptop) or (--desktop) {
    &:not(.sidebar--open) {
      .sidebar__group li a {
        color: transparent;
      }
    }
  }
}

.sidebar-backdrop {
  display: none;
  /* biome-ignore lint/correctness/noUnknownMediaFeatureName: PostCSS compiles this */
  @media (--modal-sidebar) {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    transition: background-color 250ms var(--standard-curve);
    &.sidebar-backdrop--visible {
      background-color: color(from var(--page-foreground) srgb r g b / 0.32);
      z-index: 15;
      pointer-events: all;
    }
  }
}

%darkSidebar {
  .sidebar__logo-light {
    display: none;
  }
  .sidebar__logo-dark {
    display: block;
  }
}
%lightSidebar {
  .sidebar__logo-dark {
    display: none;
  }
  .sidebar__logo-light {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  [data-theme="system"] {
    @extend %lightSidebar;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="system"] {
    @extend %darkSidebar;
  }
}

[data-theme="dark"] {
  @extend %darkSidebar;
}

[data-theme="light"] {
  @extend %lightSidebar;
}
